<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/loginform.css}">
    <title>Site</title>
</head>
<!-- 네비게이션바 -->
<nav th:replace="navbar :: navbarFragment"></nav>
<body style="overflow:hidden;">
<div class="check-in">
<div class="box">
      <form th:action="@{/user/login}" method="post">
          <div th:if="${param.error}">
              <script type="text/javascript">
                  alert('아이디 또는 비밀번호가 일치하지 않습니다.');
              </script>
          </div>
          <h2>Login</h2>
          <div class="boxes">
              <input type="text" name="username" id="username" required="required">
              <span>ID</span>
              <i></i>
          </div>
          <div class="boxes">
              <input type="password" name="password" id="password" required="required">
              <span>Password</span>
              <i></i>
          </div>
          <div class="links">
              <a href="#">[X] Forgot Password [X]</a>
              <a th:href="@{/user/signup}">Signup</a>
          </div>
          <button type="submit" class="btn btn-primary">login</button>
      </form>
</div>
</div>
<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- 자바스크립트 -->
<th:block layout:fragment="script"></th:block>
</body>
</html>
