<!-- HTML layout -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2>사진 목록</h2>
    <table class="table">
        <thead class="table-primary">
            <tr class="text-center">
                <th style="width:5%">번호</th>
                <th style="width:30%">미리보기</th>
                <th style="width:50%">제목 및 파일명</th>
                <th style="width:7%">닉네임</th>
                <th style="width:8%">작성일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="files, loop : ${paging}">
                <td class="text-center align-middle" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <td class="text-center">
                    <a th:href="@{|/picture/detail/${files.fno}|}">
                        <img th:if="${files.extension != 'png'} and ${files.extension != 'jpg'} and ${files.extension != 'bmp'}" th:src="@{/upload/Null.png}" style="width:auto; height:100px;">
                        <img th:unless="${files.extension != 'png'} and ${files.extension != 'jpg'} and ${files.extension != 'bmp'}" th:src="@{|/upload/${files.filename}|}" style="width:auto; height:100px;">
                    </a>
                </td>
                <td class="align-middle">
                    <a th:href="@{|/picture/detail/${files.fno}|}">
                        <span style="font-size: 30px; font-weight: bold;" th:text="${files.title}"></span>
                    </a>
                    <br>
                        <span class="oriname" style="font-size: 13px" th:if="${not #strings.isEmpty(files.fileOriName)}" th:text="${files.fileOriName}"></span>
                        <span class="oriname" style="font-size: 13px" th:unless="${not #strings.isEmpty(files.fileOriName)}"> </span>
                </td>
                <td class="align-middle text-center"><span th:if="${files.author != null}" th:text="${files.author.nickname}"></span></td>
                <td class="align-middle text-center"><span th:text="${#temporals.format(files.createDate, 'yyyy-MM-dd HH:mm')}"></span></td>
            </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-3 and page <= paging.number+3}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->


    <div class="col-6 justify-content-start">
        <a th:href="@{/picture/insert}" class="btn btn-primary">업로드</a>
    </div>
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022-10 Hm</p>
    </div>
</div>
</html>
