<!-- HTML layout -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-primary">
        <tr class="text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>닉네임</th>
            <th>작성일시</th>
            <th>추천</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.title}"></a>
                <span class="text-danger" style="font-size:7pt;"
                      th:if="${#lists.size(question.commentList) > 0}"
                      th:text="|댓글${#lists.size(question.commentList)}|">
                </span>
            </td>
            <td><span th:if="${question.author != null}" th:text="${question.author.nickname}"></span></td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#lists.size(question.rec)}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-3 and page <= paging.number+3}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징 끝 -->
    <div class="row my-3">
        <div class="col-6 justify-content-start">
            <a th:href="@{/question/create}" class="btn btn-primary">글쓰기</a>
        </div>
        <div class="col-6 justify-content-end">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${searchWord}">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="btn_search">검색</button>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="searchWord" name="searchWord" th:value="${searchWord}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022-10 Hm</p>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('searchWord').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</html>
