<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/signupform.css}">
  <title>Site</title>
</head>
<!-- 네비게이션바 -->
<nav th:replace="navbar :: navbarFragment"></nav>
<body style="overflow:hidden;">
<div class="check-in">
  <div class="box">
          <form th:action="@{/user/signup}" th:object="${siteUserForm}" method="post">
            <h2>Signup</h2>
              <div class="boxes">
                <input type="text" th:field="*{username}" required="required">
                <span>ID</span>
                <i></i>
              </div>
              <div class="boxes">
                <input type="password" th:field="*{password1}" required="required">
                <span>Password</span>
                <i></i>
              </div>
              <div class="boxes">
                <input type="password" th:field="*{password2}" required="required">
                <span>Confirm Password</span>
                <i></i>
              </div>
              <div class="boxes">
                <input type="email" th:field="*{email}" required="required">
                <span>E-mail</span>
                <i></i>
              </div>
              <div class="boxes">
                <input type="text" th:field="*{nickname}" required="required">
                <span>Nickname</span>
                <i></i>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Signup</button>
            <br>
              <div th:replace="form_errors :: formErrorsFragment"></div>
            </form>
  </div>
</div>
<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- 자바스크립트 -->
<th:block layout:fragment="script"></th:block>
</body>
</html>
